.container {
	display: flex;
	margin: 0 auto;
	justify-content: center;

	&.showModal {
		overflow: hidden;
	}

	.sidebarSection {
		position: fixed;
		top: 0;
		height: 100vh;
		width: 178px;
		margin-left: -980px;
	}

	.mainSection {
		width: 640px;
		margin: 0 24px;
		background-color: white;
	}

	.popularListSection {
		background-color: #fafafb;
		position: relative;
		top: 16px;
		height: 895px;
		width: 273px;
		margin-right: -160px;
	}
	.tweetModal {
		height: 100%;
		&.showModal {
			opacity: 100%;
		}
		&.hideModal {
			visibility: hidden;
		}
	}
	.replyModal {
		height: 100%;
		&.showModal {
			overflow: hidden;
		}

		&.hideModal {
			visibility: hidden;
		}
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.container {
		width: 960px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		width: 1140px;
	}
}
