.container {
	display: flex;
	justify-content: center;
	height: 100vh;

	.cover {
		background-color: #373743;
		opacity: 40%;
		z-index: 2;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
	}

	.tweetModalContainer {
		position: fixed;
		z-index: 3;
		left:25.5%;

		.tweetModal {
			position: absolute;
			display: flex;
			flex-direction: column;
			top: 56px;
			width: 634px;
			min-height: 300px;
			background: #ffffff;
			border-radius: 14px;
			border: 1px solid #e6ecf0;

			.modalHead {
				display: flex;
				align-items: center;
				height: 55px;
				border-bottom: 1px solid #e6ecf0;

				.iconX {
					margin-left: 14px;
					cursor: pointer;
				}
			}

			.section {
				display: flex;
				margin: 15px 15px auto 15px;

				img {
					height: 50px;
					border-radius: 50%;
				}

				.inputTweet {
					width: 100%;
					margin-left: 10px;
					margin-top: 12px;
					font-weight: 500;
					font-size: 18px;
					line-height: 26px;
					color: #1c1c1c;
					text-decoration: none;
					overflow: hidden;
					border: none;
					resize: none;
					outline: 0;
				}
			}
			.modalBottom {
				display: flex;
				flex-direction: row;
				justify-content: end;
				align-items: center;
				margin: 23px 16px 16px auto;
				span {
					font-weight: 500;
					font-size: 15px;
					color: #fc5a5a;
					margin-right: 20px;
				}
				.tweetButton {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 64px;
					height: 40px;
					background: #ff6600;
					border-radius: 50px;
					border: 0;
					font-weight: 400;
					font-size: 16px;
					color: #ffffff;
					text-decoration: none;
					cursor: pointer;
				}
			}
		}
	}
}
