.container {
	display: flex;
	height: 74px;
	padding-left: 24px;
	font-weight: 700;
	font-size: 24px;
	line-height: 26px;
	border-bottom: #e6ecf0 1px solid;
	position: sticky;
	top: 0;
	align-items: center;
	background-color: rgb(255, 255, 255);

	.content {
		text-decoration: none;
		color: #171725;

		.userTitleWrap {
			display: grid;
			
			.tweetText {
				font-weight: 500;
				font-size: 13px;
				color: #6C757D;
			}
		}
	}

	.leftArrow {
		margin: 5px 16px 0 8px;
	}

	.arrow {
		margin-right: 1rem;
		cursor: pointer;
	}
}
