@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.listCon {
  height: 100hv; 
  width: 100%;
  overflow: auto;
  border-top: 1px solid #E6ECF0;
  &::-webkit-scrollbar {
    display: none;
  }


  .cardWrap {
    padding: 16px;
    
    .ul {
      list-style-type:none;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr)); 
      grid-gap: 1rem; 

      .card {
        width: 210px;
        height: 314px;
        border-radius: 10px;
        background: #F6F7F8;
        position: relative;
        text-align: center;

        .avatar {
          width: 100px;
          height: 100px;
          position: absolute;
          top: 36%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .info {
          display: grid;
          grid-gap: 5px;
          margin-top: 2rem;

          .infoTitle {
            font-weight: 700;
            font-size: 16px;
          }

          .infoAccount {
            font-weight: 400;
            font-size: 14px;
            color: #6C757D;
          }
        }

        .likeCon {
          display: grid;
          grid-auto-flow: column;
          justify-content: center;
          grid-gap: 1rem;
          margin-top: 1.5rem;
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: 16px;

          .likeWrap {
            display: grid;
            grid-auto-flow: column;
            grid-gap: 5px;

          }
        }

        .followCon {
          display: grid;
          grid-auto-flow: column;
          justify-content: center;
          grid-gap: 0.5rem;
          font-size: 14px;
          margin-top: 0.5rem;
          
          .followText {
            color: #6C757D;
          }
        }
      }
    }
  }
}