.topic {
	border-bottom: 1px solid #e6ecf0;
	height: 51px;

	p {
		margin-left: 24px;
		font-weight: 700;
		font-size: 24px;
	}
}

.others {
	display: flex;
	flex-direction: column;
	.otherCard {
		display: flex;
		align-items: center;
		height: 82px;

		.avatar {
			margin-left: 16px;

			img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
		}

		.other {
			display: flex;
			flex-direction: column;
			margin: 0 auto 0 8px;
			width: 74px;
			height: 47px;

			.nickname {
				font-weight: 700;
				font-size: 16px;
				color: #171725;
				line-height: 26px;
				text-decoration: none;
			}

			.accountName {
				font-size: 14px;
				color: #92929d;
				line-height: 22px;
				text-decoration: none;
			}
		}

		.btnFollow {
			font-size: 16px;
			margin-right: 16px;
			&.following {
				background: #ff6600;
				color: #ffffff;
				width: 96px;
				height: 40px;
				border: 0;
				border-radius: 50px;
			}
			&.notFollowing {
				width: 64px;
				height: 40px;
				border-radius: 50px;
				background: #ffffff;
				color: #ff6600;
				border: 1px solid #ff6600;
			}
		}
	}
}
